* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: judul;
    src: url(/FONT/ProtestRevolution-Regular.ttf) format('truetype');
}

.container {
    display: grid;
}

/* navbar */
nav {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 600px));
    background: rgba(0,0,138,.8);
    text-align: center;
    position: fixed;
    z-index: 999;
}

.text {
    font-size: 30px;
    color: #fff;
    margin: auto;
}

.text span {
    cursor: pointer;
    font-family: judul;
    font-weight: bold;
    margin: 4px;
}

.text span:nth-child(1) {
    color: darkorange;
}

nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: auto;
}

nav ul li a {
    font-size: 19px;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    border-bottom: 2px solid #fff;
}

nav ul li a:hover {
    border-bottom: none;
    border-radius: 5px;
    color: black;
    /* background: rgb(255, 255, 255); */
    animation: text1 2s ease-out infinite ;
}

@keyframes text1 {
    0% {
        color: #fff;
        width: 10%;
        background: rgba(255, 255, 255, 0.10);
    }
    50% {
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
        width: 50%;
    }
    100% {
        background: #fff;
        width: 100%;
    }
}

/* navbar selesai */  
/* header */
header {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(/img/background\ sepatu.jpg);

}
.text2 {
    font-size: 17px;
    /* display: flex; */
    margin: auto;
    max-width: 500px;
    width: calc(100vw - 4em);
    margin-top: 300px;
    color: #fff;
}

.teks1 {
    color: #fff;
    cursor: pointer;
    font-size: calc(4vw + 1.5em);
    font-family: judul;
    text-align: center;
    animation: wave 1s ease-in-out infinite;
}

.teks1 span:nth-child(1) {
    color: darkorange;
}


  @keyframes wave {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
        color: #fff;
      transform: translateY(-10px);
    }
  }

/* resposive */

/* jualann */

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) );
    justify-content: space-around;
    /* padding: 20px; */
    width: 100%;
    color: #fff;
    margin-top: 50px;
    justify-items: center;
  }

  .text3 {
    font-size: calc(2vw + 1.5em);
    text-align: center;
    grid-column: 1 / -1;
    font-family: judul;
    color: rgb(38, 74, 166);
  }

  .text3  span:nth-child(1) {
     color: darkorange;
  }

  .shoe-card {
    background: rgb(38, 74, 166);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
  }

  .shoe-image {
    max-width: 100%;
    height: auto;
    transition: 1s;
    filter: drop-shadow(0 0 10px #8b99e6);
  }

  .shoe-card p {
    font-weight: 700;
    color: rgb(255, 255, 255);
  }

  .shoe-card button {
    width: 100%;
    font-size: 17px;
    height: 40px;
    border: none;
    border-radius: 5px;
    transition: 500ms;
  }
  
  .shoe-image:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 10px 10px rgb(255, 217, 0));
  }
  
  .shoe-card button:hover {
    background-color: black;
    color: #fff;
  }


/* selesai jualan */

/* lokasi */
main {
    width: 100%;
    background:rgb(38, 74, 166);
    text-align: center;
}

main h2 {
    font-size: calc(2vw + 1.5em);
    padding: 20px;
    font-family: judul;
    color: #fff;
}

main iframe {
    border-radius: 10px;
    width: 90%;
}
/* lokasi selesai */

aside {
    background-color:  rgb(38, 74, 166);
    color: rgb(254, 254, 255);
    text-align: center;
    padding: 1em;
    border-radius: 10px;
}

h1 {
    margin: 0;
}

#keunggulan {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}



/* footer */
footer {
    background-color: rgb(38, 74, 166);
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
    justify-items: center;
}

.footer-section {
    padding: 20px;
    max-width: 300px;
}

.footer-section span {
    font-family: judul;
    padding: 10px;
    font-size: calc(1.3vw + 1.5em);
}


.footer-section h2 {
    color: #fff;
}

.footer-section p {
    color: #fff;
}

.footer-section ul {
    list-style: none;
    padding: 5px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    color: black;
}

.footer-section , p {
    padding: 5px;
} 

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #f2eded;
}








/* dekstop */
@media  screen and (max-width:1200px) {
    nav {
        /* column-gap: 100px; */
        grid-template-columns: repeat(auto-fit, minmax(100px, 550px));
        background: darkblue;
    }
    nav ul {
        width: 100%;
    }
	}

    @media  screen and (max-width:1107px) {
        nav {
            /* column-gap: 100px; */
            grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
            background: darkblue;
        }
        nav ul {
            width: 100%;
        }
        }    
        @media  screen and (max-width:1007px) {
            nav {
                /* column-gap: 100px; */
                grid-template-columns: repeat(auto-fit, minmax(100px, 450px));
                background: darkblue;
            }
            nav ul {
                width: 100%;
            }
            }

            @media  screen and (max-width:1200px) {
                nav {
                    /* column-gap: 100px; */
                    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
                    background: darkblue;
                }
                nav ul {
                    width: 100%;
                }
                }

                @media  screen and (max-width:808px) {
                    nav {
                        /* column-gap: 100px; */
                        grid-template-columns: repeat(auto-fit, minmax(100px, 360px));
                        background: darkblue;
                    }
                    nav ul {
                        width: 100%;
                    }
                    }

                    @media  screen and (max-width:713px) {
                        nav {
                            /* column-gap: 100px; */
                            grid-template-columns: 1fr;
                        }
                        nav ul {
                            justify-content: space-around;
                            width: 100%;
                }
                nav ul li a {
                    border-bottom: none;
                }

                /* footer */
                footer {
                    text-align: center;
                    grid-template-rows: 1fr 1fr 1fr;
                }
                        }
                        /* sunn */